.table th,
td {
  max-width: 165px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}

.div1 {
  grid-column: span 2 / span 2;
  grid-row: span 5 / span 5;
}

.div5 {
  grid-column: span 3 / span 3;
  grid-column-start: 3;
}

.div6 {
  grid-column: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 2;
}

.div7 {
  grid-column: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 3;
}

.div8 {
  grid-column: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 4;
}

.div9 {
  grid-column: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 5;
}
